{% load static %}
<section class="section section-md section-lg-0 bg-gray-100 text-md-left section-relative" id="test">
    <div class="tabs-custom container" id="tabs-8">
      <div class="row row-40 flex-lg-row-reverse">
        <div class="col-lg-4">
          <div class="nav-tabs-2-button">
            <h5 class="nav-tabs-2-title">About Company</h5><span class="icon mdi fa-thin fa-arrow-down" data-custom-scroll-to="test"></span>
          </div>
          <ul class="nav nav-tabs-2">
            <li class="nav-item-2 wow fadeInRight" role="presentation"><a class="active" href="#tabs-8-1" data-toggle="tab">Company values</a></li>
            <li class="nav-item-2 wow fadeInRight" role="presentation"><a href="#tabs-8-2" data-toggle="tab">Our Mission</a></li>
            <li class="nav-item-2 wow fadeInRight" role="presentation"><a href="#tabs-8-3" data-toggle="tab">Our Vision</a></li>
            <li class="nav-item-2 wow fadeInRight" role="presentation"><a href="#tabs-8-4" data-toggle="tab">View report</a></li>
          </ul>
        </div>
        <div class="col-lg-8 tab-content-2 wow fadeInLeft">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabs-8-1">
              <div class="row row-40 row-lg-50 row-xl-60">
                <div class="col-sm-6">
                  <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa-thin fa-crosshairs"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="single-service.html">Quality</a></h5>
                        <p class="box-icon-classic-text">We provide outstanding service that delivers premium value to our customers and partners.</p>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa-thin fa-star"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="single-service.html">Integrity</a></h5>
                        <p class="box-icon-classic-text">We uphold the highest standards of integrity in all of our company’s actions.</p>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa fa-certificate"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="single-service.html">Teamwork</a></h5>
                        <p class="box-icon-classic-text">We work together, across boundaries, to meet the needs of our customers.</p>
                      </div>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6">
                  <article class="box-icon-classic">
                    <div class="unit unit-spacing-lg flex-column text-center flex-md-row text-md-left">
                      <div class="unit-left">
                        <div class="box-icon-classic-icon fa fa-rocket"></div>
                      </div>
                      <div class="unit-body">
                        <h5 class="box-icon-classic-title"><a href="single-service.html">Commitment</a></h5>
                        <p class="box-icon-classic-text">We develop relationships that make a positive difference in our customers’ lives.</p>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-8-2">
              <div class="box-info">
                <div class="unit flex-column flex-md-row align-items-center">
                  <div class="unit-left">
                    <div class="box-info-figure"><img src="{% static 'image/about/about-1-326x390.jpg' %}" alt="" width="326" height="390"/>
                    </div>
                  </div>
                  <div class="unit-body">
                    <div class="box-info-content">
                      <h5 class="box-info-title">Our Mission</h5>
                      <p class="box-info-text">We are a young company with a clear mission: we want to give startups, entrepreneurs, freelancers, and road warriors a better option than working out of their lonely living rooms or at unproductive coffee shops. We are inspired to rescue small companies and creative agencies from soulless office spaces and executive suites.</p><a class="box-info-link" href="#">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-8-3">
              <div class="box-info">
                <div class="unit flex-column flex-md-row align-items-center">
                  <div class="unit-left">
                    <div class="box-info-figure"><img src="{% static 'image/about/about-2-326x390.jpg' %}" alt="" width="326" height="390"/>
                    </div>
                  </div>
                  <div class="unit-body">
                    <div class="box-info-content">
                      <h5 class="box-info-title">Our Vision</h5>
                      <p class="box-info-text">Our team aims to achieve brilliance in the commercial real estate field by delivering the most comprehensive, innovative, and cost effective solutions. By providing a complete suite of Commercial Property Management solutions, we strive to set new benchmarks on which the Real Estate Industry would be evaluated.</p><a class="box-info-link" href="#">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tabs-8-4">
              <div class="box-info">
                <div class="unit flex-column flex-md-row align-items-center">
                  <div class="unit-left">
                    <div class="box-info-figure"><img src="{% static 'image/about/about-3-326x390.jpg' %}" alt="" width="326" height="390"/>
                    </div>
                  </div>
                  <div class="unit-body">
                    <div class="box-info-content">
                      <h5 class="box-info-title">2019 Annual Report</h5>
                      <p class="box-info-text">We began this year with a celebration of our 20 years in business, a milestone that is particularly significant for our company. We ended the year strongly with an increased number of rented office spaces and other properties in comparison with the previous year. We also opened new coworking centers and meeting lounges in California.</p><a class="box-info-link" href="#">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>