{% load static %}
<section class="section parallax-container" data-parallax-img="{% static 'image/background/bg-cta.jpg' %}">
    <div class="parallax-content section-lg context-dark text-md-left">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-7">
            <div class="cta-classic">
              <h4 class="cta-classic-title wow fadeInLeft">make a Right decision in choosing your office space!</h4>
              <p class="cta-classic-text wow fadeInRight" data-wow-delay=".1s">Contact us today to reserve a space for your company.</p><a class="button button-lg button-secondary button-winona wow fadeInUp" href="services.html" data-wow-delay=".2s">Get in touch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>