{% load static %}
<section class="section section-xl bg-default text-center">
    <div class="container">
      <h3 class="oh-desktop"><span class="d-inline-block wow slideInUp">Our Gallery</span></h3>
    </div>
    <div class="container-fluid container-inset-0">
      <div class="row row-30 row-desktop-8 gutters-8 hoverdir" data-lightgallery="group">
        {% for gallery in galleries %}
        <div class="col-sm-6 col-lg-4 col-xxl-3">
          <div class="oh-desktop gallery_style">
            <!-- Thumbnail Modern-->
            <article class="thumbnail thumbnail-modern wow slideInDown"><a class="thumbnail-modern-figure" href="/media/{{gallery.image}}" data-lightgallery="item"><img src="/media/{{gallery.image}}" alt="" width="474" height="355" class="gallery_style"/></a>
              <div class="thumbnail-modern-caption">
                <h5 class="thumbnail-modern-title"><a href="single-property.html">{{gallery.title}}</a></h5>
                <div class="thumbnail-modern-badge">from &#2547;{{gallery.price}} per {{gallery.according}}</div>
              </div>
            </article>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>