{% load static %}
<section class="section section-lg bg-default">
    <div class="container">
      <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">What we offer</span></h3>
      <div class="owl-carousel owl-style-3 dots-style-2" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-autoplay="true" data-dots="true" data-animation-in="fadeIn" data-animation-out="fadeOut">
        <!-- Services Creative-->
        {% for we_offer in we_offers %}
        <article class="services-creative" style="height:550px;"><a class="services-creative-figure" href="single-service.html"><img src="/media/{{we_offer.image}}" alt="" width="370" height="230" style="height: 250px;"/></a>
          <div class="services-creative-caption">
            <h5 class="services-creative-title"><a href="single-service.html">{{we_offer.heading}}</a></h5>
            <p class="services-creative-text">{{we_offer.content}}</p><span class="services-creative-counter box-ordered-item">{{we_offer.id}}</span>
          </div>
        </article>
        {% endfor %}
        <!-- Services Creative-->
        
        <!-- Services Creative-->
        
        <!-- Services Creative-->
        
        <!-- Services Creative-->
        
        <!-- Services Creative-->
        
      </div>
    </div>
  </section>