{% load static %}
<section class="section section-decorative-bottom section-inset-8 bg-gray-25 context-dark text-center">
    <div class="container">
      <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Popular Searches</span></h3>
      <div class="owl-style-4">
        <div class="owl-carousel dots-style-2" data-items="1" data-md-items="2" data-margin="30" data-md-margin="0" data-nav="true" data-dots="true" data-smart-speed="400" data-autoplay="true">
          <!-- Project Classic-->
          {% for project in projects %}
          <article class="project-classic"><a class="project-classic-figure" href="single-property.html"><img src="/media/{{project.image}}" alt="" width="570" height="370" class="project_image"/></a>
            <div class="project-classic-caption">
              <h5 class="project-classic-title"><a href="single-property.html">{{project.street_location}}<br>(Offices from &#2547;{{project.price}} per {{project.according}})</a></h5>
              <div class="project-classic-location"><span class="icon mdi fa fa-map-marker"></span><span>{{project.location}}</span></div>
              <p class="project-classic-text">{{project.description}}</p>
            </div>
          </article>
          {% endfor %}
          <!-- Project Classic-->

          <!-- Project Classic-->

          <!-- Project Classic-->

        </div>
      </div>
    </div>
  </section>