{% load static %}
<section class="section parallax-container" data-parallax-img="{% static 'image/background/bg-counter-3.jpg' %}">
    <div class="parallax-content section-inset-9 context-dark">
      <div class="container">
        <div class="row justify-content-center justify-content-xl-between align-items-lg-end">
          <div class="col-sm-6 col-md-3">
            <div class="counter-classic">
              <h3 class="counter-classic-number"><span class="counter">640</span>
              </h3>
              <h6 class="counter-classic-title">offices</h6>
              <div class="counter-classic-decor"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="counter-classic">
              <h3 class="counter-classic-number"><span class="counter">15</span>
              </h3>
              <h6 class="counter-classic-title">awards won</h6>
              <div class="counter-classic-decor"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="counter-classic">
              <h3 class="counter-classic-number"><span class="counter">24</span>
              </h3>
              <h6 class="counter-classic-title">partners</h6>
              <div class="counter-classic-decor"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="counter-classic">
              <h3 class="counter-classic-number"><span class="counter">150</span>
              </h3>
              <h6 class="counter-classic-title">monthly clients</h6>
              <div class="counter-classic-decor"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>