{% load static %}
<section class="section section-xl bg-default text-md-left">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <div class="box-team">
            <h3 class="oh-desktop"><span class="d-inline-block wow slideInUp">Our team</span></h3>
            <h6 class="title-style-1 wow fadeInLeft" data-wow-delay=".1s">Professional team of realtors</h6>
            <p class="wow fadeInRight" data-wow-delay=".2s">Real Space is a team of dedicated and commercial real estate professionals.</p>
            <div class="group-sm oh-desktop">
              <div class="button-style-1 wow slideInLeft"><span class="icon mdi fa-thin fa-envelope"></span><span class="button-style-1-text"><a href="contacts.html">Contact us</a></span></div>
              <div class="wow slideInRight">
                <div class="owl-custom-nav" id="owl-custom-nav-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="owl-carousel owl-style-5" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30" data-autoplay="false" data-animation-in="fadeIn" data-animation-out="fadeOut" data-navigation-class="#owl-custom-nav-1">
            <!-- Team Modern-->
            {% for ourteam in ourteams %}
            <article class="team-modern"><a class="team-modern-figure" href="#"><img src="/media/{{ourteam.image}}" alt="" width="270" height="236" class="team_person_img" /></a>
              <div class="team-modern-caption">
                <h6 class="team-modern-name"><a href="#">{{ourteam.name}}</a></h6>
                <div class="team-modern-status">{{ourteam.title}}</div>
                <ul class="list-inline team-modern-social-list">
                  <li><a class="icon mdi fa-brands fa-facebook-f" href="#"></a></li>
                  <li><a class="icon mdi fa-brands fa-twitter" href="#"></a></li>
                  <li><a class="icon mdi fa-brands fa-instagram" href="#"></a></li>
                  <li><a class="icon mdi fa-brands fa-pinterest-p" href="#"></a></li>
                </ul>
              </div>
            </article>
            {% endfor %}
            <!-- Team Modern-->

            <!-- Team Modern-->

            <!-- Team Modern-->
          </div>
        </div>
      </div>
    </div>
  </section>