{% load static %}
<section class="section section-xl bg-gray-100 text-md-left">
    <div class="container">
      <div class="row row-60 justify-content-center flex-lg-row-reverse">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="offset-left-xl-70">
            <h3 class="oh-desktop"><span class="d-inline-block wow slideInLeft">Testimonials</span></h3>
            <div class="slick-quote">
              <!-- Slick Carousel-->
              <div class="slick-slider carousel-parent" data-autoplay="true" data-swipe="true" data-items="1" data-child="#child-carousel-2" data-for="#child-carousel-2" data-slide-effect="true">
                <div class="item">
                  <!-- Quote Modern-->
                  <article class="quote-modern">
                    <h5 class="quote-modern-text"><span class="q">The whole process was seamless. With your input and help it went as easy as we could hope for. Besides, your properties have what we need.</span></h5>
                    <h5 class="quote-modern-author">Stephen Adams,</h5>
                    <p class="quote-modern-status">“AlphaCode”, CEO</p>
                  </article>
                </div>
                <div class="item">
                  <!-- Quote Modern-->
                  <article class="quote-modern">
                    <h5 class="quote-modern-text"><span class="q">The offices that you provide are of a high specification with excellent amenities and with a very professional look. You did an excellent job, thanks!.</span></h5>
                    <h5 class="quote-modern-author">Sam Peterson,</h5>
                    <p class="quote-modern-status">“West Design”, CFO</p>
                  </article>
                </div>
                <div class="item">
                  <!-- Quote Modern-->
                  <article class="quote-modern">
                    <h5 class="quote-modern-text"><span class="q">We love the professional business environment, blended with the friendly and personable manner shown by all the team. We made the right move!</span></h5>
                    <h5 class="quote-modern-author">Jane McMillan,</h5>
                    <p class="quote-modern-status">“InterBiz”, Lead HR Manager</p>
                  </article>
                </div>
                <div class="item">
                  <!-- Quote Modern-->
                  <article class="quote-modern">
                    <h5 class="quote-modern-text"><span class="q">We moved in a few months ago and have been very impressed with the level of service we have received so far. We were all moved in within a few days.</span></h5>
                    <h5 class="quote-modern-author">Will Jones,</h5>
                    <p class="quote-modern-status">“iStep Ltd”, Sales Manager</p>
                  </article>
                </div>
              </div>
              <div class="slick-slider child-carousel" id="child-carousel-2" data-arrows="true" data-for=".carousel-parent" data-items="4" data-sm-items="4" data-md-items="4" data-lg-items="4" data-xl-items="4" data-slide-to-scroll="1">
                <div class="item"><img class="img-circle" src="{% static 'image/team/team-5-83x83.jpg' %}" alt="" width="83" height="83"/>
                </div>
                <div class="item"><img class="img-circle" src="{% static 'image/team/team-6-83x83.jpg' %}" alt="" width="83" height="83"/>
                </div>
                <div class="item"><img class="img-circle" src="{% static 'image/team/team-7-83x83.jpg' %}" alt="" width="83" height="83"/>
                </div>
                <div class="item"><img class="img-circle" src="{% static 'image/team/team-8-83x83.jpg' %}" alt="" width="83" height="83"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-7">
          <!-- Clients Classic-->
          <div class="clients-classic-wrap">
            <div class="row no-gutters">
              <div class="col-sm-6 wow fadeInLeft">
                <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'image/clients/clients-1-200x90.png' %}" alt="" width="200" height="90"/></a></div>
              </div>
              <div class="col-sm-6 wow fadeInRight">
                <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'image/clients/clients-2-200x90.png' %}" alt="" width="200" height="90"/></a></div>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-6 wow fadeInLeft">
                <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'image/clients/clients-3-200x90.png' %}" alt="" width="200" height="90"/></a></div>
              </div>
              <div class="col-sm-6 wow fadeInRight">
                <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'image/clients/clients-4-200x90.png' %}" alt="" width="200" height="90"/></a></div>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="col-sm-6 wow fadeInLeft">
                <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'image/clients/clients-5-200x90.png' %}" alt="" width="200" height="90"/></a></div>
              </div>
              <div class="col-sm-6 wow fadeInRight">
                <div class="clients-classic"><a class="clients-classic-figure" href="#"><img src="{% static 'image/clients/clients-6-200x90.png' %}" alt="" width="200" height="90"/></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>